.alphabet-grid-item {
  display: inline-block;
  max-width: fit-content;
}
.alphabet-grid-letter {
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-radius: 1px;
  font-size: 15px;
  text-align: center;
}
.alphabet-grid-number {
  font-size: 6px;
  vertical-align: top;
  position: relative;
  left: -8px;
  top: 1px;
  text-align: left;
}
